.principal{
    flex: auto;
}

.mi-boton{
    background-color: #285e67; /* Verde */
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding: 16px;
    gap: 16px;
    width: 251px;
    height: 56px;
    border-radius: 67px;
    border: none;   
    cursor: pointer;
  }

  .mi-boton:hover {
    background-color: whitesmoke; /* Verde más oscuro */
  }

  .footer{
    background-color: #285e67;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    }

  body {
    font-family: 'Poppins', sans-serif;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  .contactinfo {
    display: flex;
    gap: 15px; /* Espaciado entre enlaces */
    list-style-type: none;
  }
  .contactinfo2 {
    display: flex;
    gap: 15px; /* Espaciado entre enlaces */
    list-style-type: none;
  }
  .socialmedia {
    display: flex;
    gap: 15px; /* Espaciado entre enlaces */
    list-style-type: none;
  }

  .principal{
    align-items: center;
  }

  .imagenes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

  }

  .listaimagenes{
    display: flex;
    gap: 15px; /* Espaciado entre enlaces */
    list-style-type: none;
  }

  .contenidocentrado{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .wellbeing{
    background-color: #f4f4f4;
    align-items: center;
    display: flex;
    
  }

  .section3{
    align-items: center;
    display: flex;
  }

  .listahoja{
    display: flex;
    gap: 15px; /* Espaciado entre enlaces */
    list-style-type: none;

  }
  .listaflor{
    list-style-type: none;
  }

